@import "../../scss/variables";
@import "../../scss/mixins";

.map {
  height: 462px;
  width: 100%;
  position: relative;
}

.marker {
  transform: translate(-50%, -100%);
}

.defaultMapImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &__active {
    z-index: 2;
  }
}

// ---------- Mobile ----------------

@media (max-width: calc(#{$tablet} - 1px) ) {
  .map {
    height: 381px;
  }
}
